.contatos__section {
    align-items: start;
    color: white;
    display: flex;
    flex-direction: column;
    width: 25vw;
}

.contatos__h2 {
    height: 1rem;
}

.contatos__container {
    align-items: center;
    column-gap: .5rem;
    display: flex;
    height: 3rem;
    text-align: start;
    width: 95%;
}

.contatos__img {
    height: 1rem;
}