.contatos__section {
    display: flex;
    flex-direction: column;
    align-items: start;
}

section h2 {
    color: white;
    height: 1rem;
}

.contatos__container {
    align-items: center;
    color: white;
    column-gap: .5rem;
    display: flex;
    height: 3rem;
    width: 25%;
    text-align: start;
}

.contatos__img {
    height: 1rem;
}