.nav {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: .5rem 2rem;
}

.nav__img {
    height: 4rem;
}

.toggle__icon {
    display: none;
}

.nav__ul {
    color: rgb(204, 204, 204);
    display: flex;
    font-size: .8rem;
    gap: 2rem;
    list-style: none;
}

.nav__ul--li {
    cursor: pointer;
}

.nav__ul--li:hover {
    text-decoration: underline;
}


@media screen and (max-width: 1024px) {
    .nav {
        padding: 1rem 1rem 2rem;
    }

    .nav__img {
        height: 2rem;
    }

    .toggle__icon {
        display: block;
    }
    
    .nav__ul--cont {
        display: none;
    }

    .nav__ul--cont.expanded {
        display: flex;
    }
    
    .nav__ul {
        background-color: white;
        display: flex;
        flex-direction: column;
        height: 100%;
        left: 50%;
        padding: .8rem 0 0 0;
        position: absolute;
        row-gap: 1rem;
        top: 8%;
        transform: translate(-50%);
        transition: .5s height ease-in-out;
        width: 100%;
    }
    
    .nav__ul--li {
        border-bottom: 1px solid green;
        color: black;
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0;
        padding-bottom: .8rem;
        text-transform: uppercase;
    }
}