.nav {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: .5rem 2rem;
}

.nav__img {
    height: 4rem;
}

.nav__ul {
    color: rgb(204, 204, 204);
    display: flex;
    font-size: .8rem;
    gap: 2rem;
    list-style: none;
}

.nav__ul--li {
    cursor: pointer;
}

.nav__ul--li:hover {
    text-decoration: underline;
}


.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: white;
}

@media screen and (max-width: 1024px) {
    .nav {
        padding: 1rem 1rem 3rem;
    }

    .nav__img {
        height: 2rem;
    }
    
    .nav__ul {
        text-transform: uppercase;
        font-weight: bold;
        row-gap: 1rem;
        padding: .8rem 0 .8rem;
        background-color: white;
        position: absolute;
        flex-direction: column;
        left: 50%;
        top: 8%;
        transform: translate(-50%);
        width: 100%;
        color: black;
        font-size: 1rem;
    }

    .nav__ul--li {
        border-bottom: 1px solid green;
        padding-bottom: .8rem;
        margin-bottom: 0;
    }

    .hamburger {
        display: block;
    }
}