.menu {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
}

.menu__h2 {
    margin: 0;
}

.footer__menu--ul {
    list-style: none;
    padding-left: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: .3rem;
}

.footer__menu--li {
    cursor: pointer;
}

.footer__menu--li:hover {
    text-decoration: underline;
}