.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.main__img {
    align-self: flex-start;
    height: 20rem;
    margin-bottom: 4rem;
    object-fit: contain;
    width: 55%;
}

.main__line {
    background-color: grey;
    height: 1px;
    width: 80%;
}


@media screen and (max-width: 1024px) {
    .main {
        padding-top: 0;
    }

    .main__img {
        align-self: center;
        height: 25rem;
        margin-bottom: 0;
        width: 80%;
    }
}