.header {
    background-color: rgb(41, 175, 41);
    padding-bottom: 3rem;
}

.header__container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.header__img {
    height: 8rem;
}

.header__h1 {
    color: white;
    font-size: 3rem;
    width: 40%;
}

.header__button {
    background-color: yellow;
    border: 1px solid black;
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 0;
    width: 30%;
}


@media (max-width: 1024px) {
    .header {
        width: 100%;
    }

    .header__h1 {
        font-size: 2rem;
        width: 70%;
    }

    .header__button {
        width: 60%;
        font-weight: bold;
    }
}